<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>About Page</title>
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
		<style>
			h2, p {
				text-align: center;
				width: 500px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>Event Calendar</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
			<a href="/logout/">LOGOUT</a>
		</div>
		<div id="event">
			<h2>Calendar-app</h2>
			<p>An app made with the Express.JS framework on the Node.js run-time environment using
			MongoDB (with Mongoose) as a database. Calendar-app is designed to show both a calendar
			of upcoming events and function as a TODO app which stores TODO events for the user.</p>
		</div>
	</body>
</html>