<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Create a TODO</title>
		<link href="/stylesheets/createEventStyle.css" type="text/css" rel="stylesheet">
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>Event Calendar</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
			<a href="/logout/">LOGOUT</a>
		</div>
		<h2>Enter TODO Information</h2>
		<fieldset>
			<form method="post">
				<div>
					<label for="name">TODO Name</label>
					<input type="text" id="name" name="name" required minlength="3" maxlength="150">
				</div>
				<div>
					<label for="priority">TODO Priority</label>
					<select id ="priority" name="priority">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div>
					<label for="description">TODO Description</label>
					<textarea id="description" name="description" maxlength="250">Enter description here...</textarea>
				</div>
				<div>
					<button type="submit">Create TODO</button>
				</div>
			</form>
		</fieldset>
	</body>
</html>
		