<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Create an event</title>
		<link href="/stylesheets/createEventStyle.css" type="text/css" rel="stylesheet">
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>Event Calendar</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
			<a href="/logout/">LOGOUT</a>
		</div>
		<h2>Event Information</h2>
		<fieldset>
			<form method="post">
				<div>
					<label for="name">Event Name</label>
					<input type="text" id="name" name="name" required minlength="3" maxlength="150">
				</div>
				<div>
					<label for="date">Event Date</label>
					<input type="date" id="date" name="date" required min="1896-12-31" max="2096-12-31">
				</div>
				<div>
					<label for="priority">Event Priority</label>
					<select id ="priority" name="priority">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div>
					<label for="description">Event Description</label>
					<textarea id="description" name="description" maxlength="250">Enter description here...</textarea>
				</div>
				<div>
					<label for="currdate" class="hidden"></label>
					<input type="text" class="hidden" id="currdate" name="currdate">
				<div>
				<div>
					<button type="submit">Create Event</button>
				</div>
			</form>
		</fieldset>
		<script src="/javascripts/createEventScript.js"></script>
	</body>
</html>
		