<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Day view</title>
		
	</head>
	
	<body>
		<h1>{{title}}</h1>
		{{#each events}}
			<p>Name: {{this.name}}</p>
		{{/each}}
	</body>
<html>