<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Event view</title>
	</head>
	<body>
		<p>{{name}}</p>
		<p>Priority: {{priority}}</p>
		{{#if date}}
			<p>Day: {{due}}</p>
		{{/if}}
		{{#if description}}
			<p>Description: {{description}}</p>
		{{/if}}
	</body>
</html>