<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Login Page for Event Calendar</title>
	</head>
	
	<body>
		<h2>Login to Event Calendar</h2>
		{{#if msg}}
			<p>{{msg}}</p>
		{{/if}}
		<fieldset>
			<form method="post">
				<div>
					<label for="username">Username: </label>
					<input type="text" id="username" name="username" minlength="3" maxlength="100" required>
				</div>
				<div>
					<label for="password">Password: </label>
					<input type="text" id="password" name="password" minlength="8" maxlength="100" required>
				</div>
				<div>
					<button type="submit">Login</button>
				</div>
			</form>
		</fieldset>
		<p>No account? <a href="/signup">Sign up here</a></p>
	</body>
</html>