<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Login Page for Event Calendar</title>
		<link href="/stylesheets/loginStyle.css" type="text/css" rel="stylesheet">
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>Event Calendar</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
			<a href="/logout/">LOGOUT</a>
		</div>
		<fieldset>
			<form method="post">
				<h2>Login to Event Calendar</h2>
				{{#if msg}}
					<p class="msg">{{msg}}</p>
				{{/if}}
				<div>
					<label for="username">Username: </label>
					<input type="text" id="username" name="username" minlength="3" maxlength="100" required>
				</div>
				<div>
					<label for="password">Password: </label>
					<input type="password" id="password" name="password" minlength="8" maxlength="100" required>
				</div>
				<div>
					<button type="submit">Login</button>
				</div>
			</form>
		</fieldset>
		<p>No account? <a class="keeplink" href="/signup">Sign up here</a></p>
	</body>
</html>