<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Signup Page for Event Calendar</title>
	</head>
	
	<body>
		<h2>Signup to Event Calendar</h2>
		{{#each errors}}
			<p class="err">{{this.msg}}</p>
		{{/each}}
		{{#if error}}
			<p class="err">{{error}}</p>
		{{/if}}
		<fieldset>
			<form method="post">
				<div>
					<label for="username">Username: </label>
					<input type="text" id="username" name="username" required minlength="3" maxlength="100">
				</div>
				<div>
					<label for="password">Password: </label>
					<input type="text" id="password" name="password" required min="8" max="100">
				</div>
				<div>
					<button type="submit">Signup</button>
				</div>
			</form>
		</fieldset>
		<p>Already signed up? <a href="/login">Login here</a></p>
	</body>
</html>