<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>ToDo view</title>
		<link href="/stylesheets/eventStyle.css" type="text/css" rel="stylesheet">
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>{{title}}</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
		</div>
		<div id="event">
			<p><strong>TODO Name: </strong>{{name}}</p>
			<p><strong>TODO Priority: </strong>{{priority}}</p>
			{{#if description}}
				<p><strong>Description: </strong>{{description}}</p>
			{{/if}}
		</div>
	</body>
</html>