#calendar {
	margin: 0 auto;
	width: 560px;
}

.notactive {
	color: lightgray;
}

.empty {
	border: 0px;
}

.full {
	border: 1px solid black;
}

table {
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0;
}

tr {
	margin: 0;
}

td {
	text-align: center;
	width: 80px;
	height: 80px;
}

.top {
	height: 25px;
	border: 1px solid black;
}

td > p {
	margin: 2px;
	font-size: 10px;
}
.today {
	background-color: lightblue;
}