#calendar {
	margin: 0 auto;
	width: 560px;
}

.dayNum {
	margin: 0 auto;
	width: 30px;
	border-radius: 5px;
}

.dayNum:hover {
	background-color: #75C9EA;
	color: white;
}

.notactive {
	color: lightgray;
}

.empty {
	border: 0px;
}

.full {
	border: 1px solid black;
}

.event {
	background-color: #5169B8;
	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: white;
	padding: 2px;
}

.event:hover {
	background-color: #75C9EA;
}

table {
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0;
}

tr {
	margin: 0;
}

td {
	text-align: center;
	width: 80px;
	height: 80px;
}

.top {
	height: 25px;
	border: 1px solid black;
}

td > p {
	margin: 2px;
	font-size: 12px;
	width: 70px;
}
.today {
	background-color: #BFC9E7;
}
