.notactive {
	color: lightgray;
}

.calendar {
	float: left;
}

.empty {
	border: 0px;
}

.full {
	border: 1px solid black;
}

#prev {
	float: left;
}

#curr {
	float: left;
}


table {
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	box-sizing: border-box;
	border: 1px solid red;
	margin: 0;
}

tr {
	margin: 0;
}

td {
	text-align: center;
	width: 80px;
	height: 80px;
}