h2 {
	text-align: center;
}

.event {
	box-sizing: border-box;
	width: 300px;
	border: 1px solid gray;
	background-color: #5169B8;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	padding: 2px;
}

#events {
	width: 300px;
	margin: 0 auto;
}